/* @media (max-width: 1000px) {
    .header-date {
      display: none;
    }
  }
  
  @media (max-width: 1024px) {
    .font-header-line {
      font-size: 20px;
    }
  }
  
  @media (min-width: 1024px) {
    .font-header-line {
      font-size: 32px;
    }
  }
   */