@media (max-width: 1000px) {
    .header-date {
      display: none;
    }
  }
  
@media (max-width: 1024px) {
    .font-header-line {
      font-size: 20px;
    }
  }
  
@media (min-width: 1024px) {
    .font-header-line {
      font-size: 32px;
    }
  }
  
  .header-logo {
    width: 200px;
    height: 90px;
    border-radius: 10px;
}

@media (max-width: 768px) { /* Adjust this value as needed for your breakpoint */
    .header-logo {
        width: 50px;
        height: 20px;
    }
    .font-header-line {
        font-size: 12px;
    }

}
